*{

  font-family: "Press Start 2P", system-ui;

}

body{
  background-color: black;
}

h1{
  margin: 0;
  font-size: 16px;
}

button {
  border: 0px;
  font-size: 16px;
  background-color: white;
}

button:hover {
  background-color: rgb(200, 198, 198);
  cursor: pointer;
}

.relative {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
}

.attackBar{
  margin: 0;
  padding: 0;
  background-color: white;
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 4px black solid;
  display: flex;
}

.attackBarDialogue{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 0 0 15px;
  background-color: white;
  cursor: pointer;
}

.attackSelection{
  width: 66.66%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-right: 4px black solid;

}

.attackInfo{
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attackInfo > h1{
  text-align: center;
}

.monsterInfo{
  position: absolute;
  padding: 12px;
  width: 250px;
  background-color: white;
  border: 4px black solid;
}

.monster-1{
  top: 40px;
  left: 40px;
}

.monster-2{
  bottom: 188px;
  right: 40px;
}

.relative-pos{
  position: relative;
}

.healthBar{
  height: 5px;
  background-color: #ccc;
  margin-top: 10px;
}

.healthBar.green{
  margin-top: 0;
  position: absolute;
  background-color: green;
  height: 5px;
  top: 0;
  left: 0;
  right: 0;
}