
.relative {

  position: relative;

  display: inline-block;

}


.overlay {

  position: absolute;

  top: 0;

  left: 0;

  bottom: 0;

  right: 0;

  background-color: black;

  pointer-events: none;

  opacity: 0;

}
